.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 24px 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
  animation: wrapperScroll 0.8s;
}

.left {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  background-color: #8b0000;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: flex-end;
}

.leftOverlay {
  background-color: #c00d0d;
  width: 99%;
  height: 98%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.junction {
  width: 50px;
  height: 100%;
  border-top-right-radius: 25px;
  background: linear-gradient(270deg, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
  background: -webkit-linear-gradient(
    270deg,
    #8b0000 0%,
    #c00d0d 50%,
    #8b0000 100%
  );
  background: -moz-linear-gradient(
    270deg,
    #8b0000 0%,
    #c00d0d 50%,
    #8b0000 100%
  );
  background: -o-linear-gradient(270deg, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.junctionItem {
  height: 40px;
  background-color: #5e0000;
  opacity: 0.3;
  border-top: 2px solid #330000;
  border-bottom: 2px solid #330000;
}

.leftDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
}

.leftDisplay .top {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 40% 100%, 0 100%);
  border-top-left-radius: 25px;
  height: 20%;
  background-color: #8b0000;
  border-bottom: 1px solid #5e0000;
  border-right: 1px solid #5e0000;
}

.leftDisplayPart {
  width: 100%;
}

.topContent {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.topContent .buttonGlass {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px #490000;
  -webkit-box-shadow: 0 0 10px #490000;
  -moz-box-shadow: 0 0 10px #490000;
  -o-box-shadow: 0 0 10px #490000;
  background: radial-gradient(#05fbfb, #29abe3);
  background: -webkit-radial-gradient(#05fbfb, #29abe3);
  background: -moz-radial-gradient(#05fbfb, #29abe3);
  background: -o-radial-gradient(#05fbfb, #29abe3);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -o-border-radius: 35px;
}

.buttonGlass .reflect {
  width: 30px;
  height: 18px;
  margin: 3px 0 0 15px;
  background: #fff;
  opacity: 0.6;
  border-radius: 15px 9px;
}

.topContent .miniGlass {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #490000;
  -webkit-box-shadow: 0 0 10px #490000;
  -moz-box-shadow: 0 0 10px #490000;
  -o-box-shadow: 0 0 10px #490000;
}

.topContent .red {
  background: radial-gradient(#fb7b7b, #fb0505);
  background: -webkit-radial-gradient(#fb7b7b, #fb0505);
  background: -moz-radial-gradient(#fb7b7b, #fb0505);
  background: -o-radial-gradient(#fb7b7b, #fb0505);
}

.topContent .yellow {
  background: radial-gradient(#fbfb9b, #fbfb05);
  background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
  background: -moz-radial-gradient(#fbfb9b, #fbfb05);
  background: -o-radial-gradient(#fbfb9b, #fbfb05);
}

.topContent .green {
  background: radial-gradient(#b0fb7b, #50fb05);
  background: -webkit-radial-gradient(#b0fb7b, #50fb05);
  background: -moz-radial-gradient(#b0fb7b, #50fb05);
  background: -o-radial-gradient(#b0fb7b, #50fb05);
}

.mid {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid .midScreen {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 10% 100%, 0 85%);
  margin: 0;
  height: 90%;
  width: 80%;
  padding: 0 20px;
  background-color: #b0b0b0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topDots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topDots .dotItem {
  height: 8px;
  width: 8px;
  background-color: #c00d0d;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 4px 8px;
}

.midDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background: radial-gradient(#05fbfb, #29abe3);
  background: -webkit-radial-gradient(#05fbfb, #29abe3);
  background: -moz-radial-gradient(#05fbfb, #29abe3);
  background: -o-radial-gradient(#05fbfb, #29abe3);
  border: 3px solid #494949;
  border-radius: 15px;
}
.midDisplay img {
  /* width: 140%; */
  height: 100%;
}

.bot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.botItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.dotItemBig {
  height: 26px;
  width: 26px;
  background-color: #c00d0d;
  float: left;
  border-radius: 30px;
  box-shadow: -2px 1px #5e0000;
  background: linear-gradient(0deg, #c00d0d 0%, #8b0000 80%);
}
.speakers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
}

.speakers .line {
  height: 3px;
  margin-bottom: 4px;
  background-color: #494949;
}

.dotBlue {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  background: linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -webkit-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -moz-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -o-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  box-shadow: -3px 2px #001c91;
}

.crossBtn {
  width: 30px;
  height: 30px;
  background-color: #222;
  border-radius: 2px;
  box-shadow: -2px 2px #010101;
  -webkit-box-shadow: -2px 2px #010101;
  -moz-box-shadow: -2px 2px #010101;
  -o-box-shadow: -2px 2px #010101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crossRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rightcross {
  box-shadow: -1px 1px #010101;
}
.midCircle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  background: radial-gradient(#111, #222);
  background: -webkit-radial-gradient(#111, #222);
  background: -moz-radial-gradient(#111, #222);
  background: -o-radial-gradient(#111, #222);
}

.upT {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}
.rightT {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}
.downT {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}
.leftT {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
}

.right {
  width: 350px;
  height: 400px;
  border: 1px solid black;
  background-color: #8b0000;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  align-self: flex-end;
}

.rightOverlay {
  background-color: #c00d0d;
  width: 100%;
  height: 98%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataDisplay {
  height: 70%;
  width: 80%;
  margin: 20px 0;
  background-color: #30da0c;
  z-index: 1;
  font-size: 13px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 0 20px #003300 inset;
  -webkit-box-shadow: 0 0 20px #003300 inset;
  -moz-box-shadow: 0 0 20px #003300 inset;
  -o-box-shadow: 0 0 20px #003300 inset;

  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  box-sizing: border-box;
}

.botButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.buttonsSet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.setRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.setRow .buttonBlue {
  height: 32px;
  width: 40px;
  margin: 2px;
  background-color: #003300;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  background: linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -webkit-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -moz-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  background: -o-linear-gradient(0deg, #307bfb 0%, #0530e5 80%);
  box-shadow: -1px 2px #001c91;
  -webkit-box-shadow: -1px 2px #001c91;
  -moz-box-shadow: -1px 2px #001c91;
  -o-box-shadow: -1px 2px #001c91;
}

.buttonYellow {
  width: 120px;
  height: 68px;
  z-index: 1;
  background-color: #ffff00;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 0 20px #ff6600 inset;
  -webkit-box-shadow: 0 0 20px #ff6600 inset;
  -moz-box-shadow: 0 0 20px #ff6600 inset;
  -o-box-shadow: 0 0 20px #ff6600 inset;
}

.dataDisplay > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin: 1px 0;
}
.dataDisplay > div:nth-child(1) {
  font-size: 30px;
}
.dataDisplay > div > div {
  display: flex;
}
.dataDisplay div > span {
  font-weight: bold;
  text-transform: uppercase;
}
.dataDisplay > p > span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.dataDisplay div h2 {
  margin: 8px 0;
  text-transform: capitalize;
  font-size: 24px;
}

.dataDisplay p {
  margin: 0 2px;
  font-size: 16px;
  text-align: left;
  display: inline;
}

.displayTypes {
  text-transform: capitalize;
}

.displayTypes::after {
  content: " // ";
}

.displayTypes:last-child::after {
  content: " ";
}

@media only screen and (max-width: 584px) {
  .wrapper {
    flex-direction: column;
  }
  .dexWing {
    border-radius: 25px;
    align-self: center;
    width: 90%;
    height: 450px;
  }
  .rightOverlay,
  .leftOverlay {
    border-radius: 25px;
  }
  .junction {
    border-bottom-right-radius: 25px;
  }
}

@keyframes wrapperScroll {
  from {
    transform: translateY(-16px);
  }

  to {
    transform: translateY(0);
  }
}

.dataDisplay::-webkit-scrollbar {
  width: 1em;
}

.dataDisplay::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dataDisplay::-webkit-scrollbar-thumb {
  background-color: #8b0000;
  border-radius: 3px;

  border: 1px solid #c00d0d;
}
